@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body
{   
    
    font-family: 'Poppins', sans-serif;
    min-width: 400px;
}
input
{
    width: 80%;
    padding-left: 10 px;
    padding-right: 10 px;
    margin: 1rem;
    border-color: green ;
    box-sizing: border-box;
}

button
{

justify-content: auto;
margin-top: 5 rem;
background-color: green;
color: white;
box-sizing: border-box;
}

ul{
list-style: none;
padding-left: 0;
margin-top: 20px;
}

li{
margin-top: 5px;
}

a{
color:green;
}